
header {
  
  
}


img{
  height: 2.2rem;
  width: 2rem;   

}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}


.contenedorAplicacion:has(.modoOscuro:hover){
  
  background-color: black;
}


